body {
  margin: 0;
  font-family: sofia pro;
  /* overflow: hidden; */
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

/* ///////////////////////////////////// */
/* ///////////////////////////////////// */
/* ///////////////////////////////////// */
/* ///////////////////////////////////// */
/* ///////////////////////////////////// */

.content-container {
  display: flex;

  width: 1000vw;
  height: 100vh;
  position: absolute;

  z-index: -50;
}

.content-container .area-1,
.content-container .area-2,
.content-container .area-3,
.content-container .area-4,
.content-container .area-5 {
  flex: 0 0 100vw; /* Each section takes 100% of the viewport width */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.content-container .area-1 {
  /* background-color: rgb(199, 236, 199); */
}

.content-container .area-2 {
  display: flex;
  justify-content: flex-end;
  z-index: 50;
}

.content-container .area-2 a:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.area-img-2 {
  width: 90%;
  height: auto;
  padding-bottom: 17.7vh;
}

.content-container .area-3 {
  /* background-color: rgb(65, 128, 65); */

  display: flex;
  justify-content: center;
  align-items: end;
}

.area-img-3 {
  width: auto;
  height: 40%;
  padding-bottom: 16vh;
}

.content-container .area-4 {
  /* background-color: rgb(20, 82, 20); */
}

.content-container .area-5 {
  /* background-color: rgb(3, 56, 3); */
}

.content-container,
.water-container {
  transition: transform 10s ease-out;
}

/* //////////////////////////////////////////////////////////// */
.water-content-container {
  animation: 5s up-down ease-in-out infinite;
  height: 20vh;
  width: 1000vw;
  position: absolute;
  bottom: 0;
  z-index: 50;
}
.water-container {
  background-image: url(/images/waterNew.png);
  background-size: auto 100%; /* Ensure it covers the container */
  background-position: left bottom;
  background-repeat: repeat-x;

  animation: watermotion 500s linear infinite; /* Adjust animation as needed */

  width: 1000vw;
  height: 20vh;

  z-index: 50;
}

@keyframes watermotion {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* //////////////////////////////////////////////////////////// */

.view-container {
  position: absolute;
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;

  /* background-color: blueviolet; */

  grid-row: 1/2;
  grid-column: 1/2;
}

/* //////////////////////////////////////////////////////////// */

.grid-container {
  width: inherit;
  height: inherit;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 30vh 50vh 20vh;
  user-select: none;
}

/* //////////////////////////////////////////////////////////// */

.bg-container {
  position: absolute;
  width: 100%;
  height: 100%;

  background: url(/images/bg.png);
  background-repeat: repeat-x;
  background-size: auto 125%;

  animation: bgmotion 250s infinite linear;

  z-index: -10;
}

@keyframes bgmotion {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

.bg-container > .bird-1 {
  width: fit-content;
  position: relative;
  top: 10%;
  animation: birdmotion 20s infinite linear;
}

.bg-container > .bird-2 {
  width: fit-content;
  position: relative;
  top: 25%;
  animation: birdmotion 10s infinite linear;
}

.bird-1-img {
  width: 64px;
}

.bird-2-img {
  padding-left: 50vw;
  width: 128px;
}

@keyframes birdmotion {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

/* //////////////////////////////////////////////////////////// */

.ship-container {
  position: relative;
  height: fit-content;

  grid-row: 2/3;
  grid-column: 2/3;

  transform: translateY(80px);

  align-self: end;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 20;
}

.ship-container .ship-img {
  width: 100%;
  height: auto;

  max-width: 400px;

  transform-origin: 50% 90%;
  padding-left: 5%;

  animation: shipmotion 10s infinite ease-in-out;
  /* transition: 0.3s; */
}

@keyframes shipmotion {
  0% {
    transform: rotateZ(-1deg) translateY(-2%);
  }
  25% {
    transform: rotateZ(1deg) translateY(2%);
  }
  50% {
    transform: rotateZ(-1deg) translateY(-2%);
  }
  75% {
    transform: rotateZ(1deg) translateY(2%);
  }
  100% {
    transform: rotateZ(-1deg) translateY(-2%);
  }
}

/* //////////////////////////////////////////////////////////// */

.ui-container {
  grid-row: 3/4;
  grid-column: 2/3;

  display: flex;
  flex-direction: column;

  background: url(/images/sign.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 2em 0em 1em 0em;
  box-sizing: border-box;
  z-index: 50;
}

.buttons-container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.buttons-container img {
  width: 64px;
  transition: 0.3s;
}

button {
  background: none;
  border: none;
}
/* .buttons-container img:hover {
  width: 70%;
} */

/* //////////////////////////////////////////////////////////// */

.logo-container {
  grid-row: 1/2;
  grid-column: 2/3;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container .logo-img {
  width: 100%;
  max-width: 300px;
}

/* //////////////////////////////////////////////////////////// */

.info-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

.info-frame {
  background-color: red;
  width: 60vw;
  height: 40vh;
  padding: 1em;
  max-width: 600px;
  border-radius: 1em;
}

/* //////////////////////////////////////////////////////////// */

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 15fr 1fr;
  }

  .ship-container .ship-img {
    max-width: 400px;
  }

  .bg-container {
    animation: bgmotionR 500s infinite linear;
  }

  @keyframes bgmotionR {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
}

.island {
  position: relative;
  z-index: 100; /* Ensure islands are on top */
  cursor: pointer;
}

.island img {
  pointer-events: auto;
  display: block;
}
